<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-img class="img" slot="start"></ion-img>
        <ion-title>
            REGISTRO
        </ion-title>
        <ion-img class="img" slot="end"></ion-img>
    </ion-toolbar>
    <!-- <ion-toolbar color="secondary" class="menu"> -->
    <span class="menu" color="secondary"></span>
    <!-- </ion-toolbar> -->
</ion-header>

<ion-content>
    <ion-card align-items-center>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Nombre Completo: </ion-label>
                        <ion-input type="input" required type="text" [(ngModel)]="nombre" name="nombre"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Email</ion-label>
                        <ion-input type="email" required type="email" [(ngModel)]="email" name="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Tipo de Documento</ion-label>
                        <ion-select [(ngModel)]="id_ident" placeholder="Seleccione una">
                            <ion-select-option value="1">Cedula</ion-select-option>
                            <ion-select-option value="2">Tarjeta Identidad</ion-select-option>
                            <ion-select-option value="3">Cedula Extranjeria</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Documento</ion-label>
                        <ion-input type="input" required type="text" [(ngModel)]="num_ident" name="num_ident">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Contraseña</ion-label>
                        <ion-input type="input" required type="password" [(ngModel)]="password" name="password">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" type="submit" color="primary" (click)="saveForm()">Registrar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-button expand="full" color="primary">CERRAR SESIÓN</ion-button>
</ion-footer>