<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-img class="img" slot="start"></ion-img>
        <ion-title>
            CALCULADORA DEL IMC
        </ion-title>
        <ion-img class="img" slot="end"></ion-img>
    </ion-toolbar>
    <!-- <ion-toolbar color="secondary" class="menu"> -->
    <span class="menu" color="secondary"></span>
    <!-- </ion-toolbar> -->
</ion-header>
<ion-content>
    <form (ngSubmit)="Operacion(forma)" #forma="ngForm">

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Estatura : Metros</ion-label>
                        <ion-input type="input" required type="text" [(ngModel)]="estatura" name="estatura"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Peso : Kilogramos:</ion-label>
                        <ion-input type="input" required type="text" [(ngModel)]="peso" name="peso"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" type="submit" color="primary">Evaluar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
<ion-footer>
    <ion-button expand="full" color="primary">CERRAR SESIÓN</ion-button>
</ion-footer>