<ion-header>
    <ion-toolbar color="primary" class="title">
        <ion-grid>
            <ion-row>
                <ion-col>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-title>ESTADÍSTICAS DEPORTIVAS</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-img></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content>
    <hr>
    <hr>
    <ion-title class="text">INGRESE VARIABLES TIPO 2</ion-title>
    <hr>
    <hr>
    <ion-card align-items-center>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">EDAD</ion-label>
                        <ion-input type="input" ngModel name="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">SEXO</ion-label>
                        <ion-input type="email" ngModel name="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">ESTRATO SOCIOECONÓMICO</ion-label>
                        <ion-input type="numeric" ngModel name="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">FRECUENCIA DE ENTRENAMIENTO</ion-label>
                        <ion-input type="input" ngModel name="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-button expand="full" color="primary">GUARDAR</ion-button>
</ion-footer>