<ion-header>
    <ion-toolbar color="primary">
        <ion-title slot="secondary">
            MENU
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-button class="menu" expand="full" color="tertiary">
    <h3>PAGO EN LINEA</h3>
</ion-button>
<ion-button class="menu" expand="full" color="tertiary">
    <h3>INSCRIPCIÓN</h3>
</ion-button>
<ion-button class="menu" expand="full" color="tertiary">
    <h3>ESTADISTICAS DEPORTIVAS</h3>
</ion-button>
<ion-button class="menu" expand="full" color="tertiary">
    <h3>CALENDARIO DE EVENTOS</h3>
</ion-button>
<ion-footer>
    <ion-button expand="full" color="primary">CERRAR SESIÓN</ion-button>
</ion-footer>