<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-img class="img" slot="start"></ion-img>
        <ion-title>
            MENU
        </ion-title>
        <ion-img class="img" slot="end"></ion-img>
    </ion-toolbar>
    <!-- <ion-toolbar color="secondary" class="menu"> -->
    <span class="menu" color="secondary"></span>
    <!-- </ion-toolbar> -->
</ion-header>
<ion-content>
    <ion-card expand="full" color="tertiary" routerLink="/pagos">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-img class="imagen" src="/assets/logopago.PNG"></ion-img>
                </ion-col>
                <ion-col>
                    <h3>PAGO EN LINEA</h3>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card expand="full" color="tertiary" routerLink="/inscripcion">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-img class="imagen" src="/assets/logoinscrip.PNG"></ion-img>
                </ion-col>
                <ion-col>
                    <h3>INSCRIPCIÓN</h3>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card expand="full" color="tertiary" routerLink="/menu-estadisticas">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-img class="imagen" src="/assets/logoest.PNG"></ion-img>
                </ion-col>
                <ion-col>
                    <h3>ESTADISTICAS DEPORTIVAS</h3>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card expand="full" color="tertiary" routerLink="/calendar">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-img class="imagen" src="/assets/logocand.PNG"></ion-img>
                </ion-col>
                <ion-col>
                    <h3>CALENDARIO DE EVENTOS</h3>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-button expand="full" routerLink="/home" color="primary">CERRAR SESIÓN</ion-button>
</ion-footer>