<ion-header>
    <ion-toolbar color="primary">
        <ion-title slot="secondary">
            MENU
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-button class="menu" expand="full" color="tertiary">
    <ion-col>
        <ion-img class="imagen" src="/assets/logopago.PNG"></ion-img>
    </ion-col>
    <ion-col>
        <h3>PAGO EN LINEA</h3>
    </ion-col>
    <ion-col></ion-col>
</ion-button>
<ion-button class="menu" expand="full" color="tertiary">
    <ion-col>
        <ion-img class="imagen" src="/assets/logoinscrip.PNG"></ion-img>
    </ion-col>
    <ion-col>
        <h3>INSCRIPCIÓN</h3>
    </ion-col>
    <ion-col></ion-col>
</ion-button>
<ion-button class="menu" expand="full" color="tertiary">
    <ion-col>
        <ion-img class="imagen" src="/assets/logoest.PNG"></ion-img>
    </ion-col>
    <ion-col>
        <h3>ESTADISTICAS DEPORTIVAS</h3>
    </ion-col>
    <ion-col></ion-col>
</ion-button>
<ion-button class="menu" expand="full" color="tertiary">
    <ion-col>
        <ion-img class="imagen" src="/assets/logocand.PNG"></ion-img>
    </ion-col>
    <ion-col>
        <h3>CALENDARIO DE EVENTOS</h3>
    </ion-col>
    <ion-col></ion-col>
</ion-button>
<ion-footer>
    <ion-button expand="full" color="primary">CERRAR SESIÓN</ion-button>
</ion-footer>