<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="REGRESAR" defaultHref="/menu-estadisticas"></ion-back-button>
        </ion-buttons>
        <ion-img class="img" slot="start"></ion-img>
        <ion-title>
            POSICIÓN
        </ion-title>
        <ion-img class="img" slot="end"></ion-img>
    </ion-toolbar>
    <!-- <ion-toolbar color="secondary" class="menu"> -->
    <span class="menu" color="secondary"></span>
    <!-- </ion-toolbar> -->
</ion-header>

<ion-content>

</ion-content>
<ion-footer>
    <ion-button expand="full" routerLink="/home" color="primary">CERRAR SESIÓN</ion-button>
</ion-footer>