<ion-header>
    <ion-toolbar color="primary">
        <ion-title slot="secondary">
            PAGOS
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-card-content class="imagen">
    <img src="/assets/daviplata.png">
</ion-card-content>
<ion-card-content class="imagen">
    <img src="/assets/nequi.jpg">
</ion-card-content>
<ion-card-content class="imagen">
    <img src="/assets/paypal.jpg">
</ion-card-content>
<ion-footer>
    <ion-toolbar color="primary">
        <ion-title slot="secondary">
            CERRAR SESIÓN
        </ion-title>
    </ion-toolbar>
</ion-footer>